// Body, Common Classes & Structure
html, body {
  height: 100%;
}
body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: 0;
}

a {
  color: $--color-text-regular;
  font-weight: bold;
  transition: color 0.3s ease;
  &:hover {
    color: $--color-text-primary;
  }
}

.content {
  position: relative;
}

.el-table .cell {
  word-break: normal;
}

.el-pagination {
  margin-top: 50px;
}
