// Utils
.clear {
  clear: both;
}

.clearfix:after {
  @include hide-text();
  display: block;
  visibility: hidden;
  content: '.';
  clear: both;
  height: 0;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.noselect {
  @include user-select(none);
}

.disabled {
  @include user-select(none);
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed !important;
}
