// Utils
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.disabled {
  user-select: none;
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed !important;
}

.no-shadow {
  box-shadow: none;
}
