@import '~@sass/abstracts/vars';
@import '~@sass/abstracts/mixins/helpers';

.not-found, .forbidden {
  @include size(100%);
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: $--color-white;
  text-align: center;

  h2 {
    // make sure that the display is reset
    // since an error page is still a page
    // and will inherit of the h2 display
    display: block;
    font-size: 3rem;
    margin-bottom: 0;
    color: red;
    // reset to browser default
    margin-block-start: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0;
  }

  button {
    margin-top: 30px;
    i {
      margin-right: 10px;
      font-weight: bold;
    }
  }
}
