/.idea
/.vagrant
/.phpintel
/.vscode
/node_modules
/public/fonts/vendor
/public/hot
/public/storage
/public/mix-manifest.json
/public/css/app.css
/public/css/app.css.map
/public/js/app.js
/public/js/app.js.map
/public/js/login.js
/public/js/login.js.map
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.vs
*.sublime-project
*.sublime-workspace
