.info-box.el-card {
  .el-card__body {
    display: flex;
    flex-flow: wrap;
    > * {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      margin-bottom: 0;
    }
    dl {
      padding-right: 20px;
      margin-top: 0px;
      box-sizing: border-box;
      dt {
        font-weight: bold;
      }
      dd {
        margin: 0;
        margin-top: 5px;
      }
      dd + dd {
        margin-top: 0;
      }
    }
  }
}
