// vue-router transitions

// Pop
.pop-enter-active, .pop-leave-active {
  transition: transform .3s ease;
  transform: scale(1);
}
.pop-enter, .pop-leave-to {
  transition: transform .3s ease;
  transform: scale(0);
}

// Slide
.slide-enter-active {
  transition: $--all-transition;
}
.slide-leave-active {
  transition: all .2s ease;
}
.slide-enter, .slide-leave-to {
  transform: translateX(-100%);
}

// Slide Left-Right
.slide-left-enter-active, .slide-right-enter-active {
  transition: all .5s ease;
}
.slide-left-leave-active, .slide-right-leave-active {
  transition: all 600ms ease-in-out 50ms;
}
.slide-left-enter, .slide-right-leave-to {
  transform: translateX(100%);
}

// Slide Top
.slide-top-enter, .slide-top-leave-to {
  transform: translateY(-100%);
}
.slide-top-enter-active, .slide-top-leave-active {
  transition: all .5s ease;
}
.slide-top-leave-active {
  transform: translateY(0%);
}

// Fade In-Out
.fade-enter-active, .fade-leave-active {
  transition: opacity .6s;
}
.fade-enter-to, .fade-leave {
  opacity: 1;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* Swipe Left */
.swipe-left-enter-active, .swipe-left-leave-active {
  transition: transform 0.5s ease-in-out;
}
.swipe-left-enter {
  transform: translateX(100%);
}
.swipe-left-enter-to {
  transform: translateX(0%);
}
.swipe-left-leave {
  transform: translateX(0%);
}
.swipe-left-leave-to {
  transform: translateX(-100%);
}

/* Swipe Right */
.swipe-right-enter-active, .swipe-right-leave-active {
  transition: transform 0.5s ease-in-out;
}
.swipe-right-enter {
  transform: translateX(-100%);
}
.swipe-right-enter-to {
  transform: translateX(0%);
}
.swipe-right-leave {
  transform: translateX(0%);
}
.swipe-right-leave-to {
  transform: translateX(100%);
}

// General transitions
.fade-in {
  transition: $--fade-linear-transition;
  opacity: 1;
}
.fade-out {
  animation: fade-out $fade-linear-animation forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
