// Pop
.pop-enter-active, .pop-leave-active {
  transition: transform 0.3s ease;
  transform: scale(1);
}
.pop-enter, .pop-leave-to {
  transition: transform 0.3s ease;
  transform: scale(0);
}

// Slide
.slide-enter-active {
  transition: all .3s ease;
}
.slide-leave-active {
  transition: all .2s ease;
}
.slide-enter, .slide-leave-to {
  transform: translateX(-100%);
}

/* Slide Left */
.slide-left-enter-active, .slide-left-leave-active {
  transition: transform .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-left-enter {
  transition: transform .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transform: translateX(100%);
  opacity: 1;
}
.slide-left-leave-to {
  transition: transform .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transform: translateX(-100%);
  opacity: 0;
}

/* Slide Right */
.slide-right-enter-active, .slide-right-leave-active {
  transition: transform .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-right-enter {
  transition: transform .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transform: translateX(-100%);
  opacity: 1;
}
.slide-right-leave-to {
  transition: transform .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transform: translateX(100%);
  opacity: 0;
}

// ZoomInTop
.zoomInTop-enter-active, .zoomInTop-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform .3s cubic-bezier(.23,1,.32,1),opacity .3s cubic-bezier(.23,1,.32,1);
  transform-origin: center top;
}
.zoomInTop-enter, .zoomInTop-leave-active {
    opacity: 0;
    transform: scaleY(0);
}

// Swipe
.swipe-enter-active {
  animation-name: swipeEnter;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}
.swipe-leave-active {
  animation-name: swipeLeave;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

// Fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

// Swipe
@keyframes swipeLeave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes swipeEnter {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
