// import elementui vars so that we have a main access point for variables.
@import '../vendors/elementui/vars';

// Custom

// Typography
$font-family-sans-serif: 'Segoe UI', 'Arial', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
